.App {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 10px;
}

header,
main
 {
  grid-column-start: 2;
}

.ContentWrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}